################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/URLShortner.ApiService/URLShortner.ApiService.csproj.user
bin
obj
